<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment::head">


</head>
<body>
    <header th:replace="fragments/fragment::nav">

    </header>
    <main class="choose">
        <div class="window">
            <div> <a th:href="@{/offer/window/add}">Window</a></div>

        </div>
        <div class="door">
          <div><a th:href="@{/offer/door/add}">Door</a></div>
        </div>
    </main>
    <footer th:replace="fragments/fragment::footer">

    </footer>
</body>
</html>