<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment::head">


</head>
<body>
<header th:replace="fragments/fragment::nav">

</header>
<main id="det">
    <div>
        <div class="details-add"><h3>VIVA</h3>
            <div>
                <div id="details-img"><img src="/images/Vivaplast.jpg" alt=""></div>

                <div>
                    <p>The VIVA Plast profile was developed, constructed and tested with the help of engineers from the German Institute in Rosenheim.<br>

                        The system meets the requirements of EN 12608 developed by the European Committee for Standardization of PVC Systems. It is manufactured with the latest equipment offered by the leading companies on the world market – “Greiner Extrusionstechnik” and “Krauss Maffei.<br>

                        The fully automated production process guarantees high quality, the control of which is carried out through a specially developed program by the Institute of the company “Greiner Extrusionstechnik” – GETU.<br>

                        For the first time in Bulgaria the most modern matrices with special coating are used – the so-called “POWER TOOLS”.<br>
                        The surface of VIVA Plast profiles has the highest glossy class and light-absorbing ability. High-quality lead-free materials guarantee an environmentally friendly profile, in accordance with the norms for a clean environment.<br>

                        VIVA Plast profiles, when exposed to drastic amplitudes of atmospheric conditions (humidity, average monthly temperatures above 35 ° С and below -10 ° С, variable atmospheric pressure, acid rain), keep their integrity, surface, shine and color intact.
                </div>

            </div>
        </div>
        <div>
            <!-- Comments submission -->
            <form action=/ th:method="POST"
                  id="commentForm">
                <div class="form-group2">
                    <h4>Leave a comment</h4>

                    <textarea
                              name="message"
                              id="message"
                              cols="30"
                              rows="5"
                              class="form-control"
                              style="background-color: white;"></textarea>

                </div>

                <div class="form-group2">
                    <input type="submit"
                           class="btn"
                           id="postComment"
                           value="Post Comment"/>
                </div>
            </form>
            <!-- Comments submission -->
        </div>
        <div>
            <span id="commentCtnr"></span>
        </div>
        <script  th:src="@{/js/comments-viva.js}"></script>
    </div>


</main>
<footer th:replace="fragments/fragment::footer">

</footer>
</body>
</html>