<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment::head">


</head>
<body>
<header th:replace="fragments/fragment::nav">

</header>
<main class="detail">
    <div class="details">
        <div class="Kommerling">
            <div><a th:href="@{/products/Kommerling}">Kommerling</a></div>
        </div>
        <div class="VIVA">
            <div><a th:href="@{/products/VIVA}">Viva Plast</a></div>
        </div>
    </div>
    <div>
        <!-- Comments submission -->

        <!-- Comments submission -->
    </div>
</main>
<footer th:replace="fragments/fragment::footer">

</footer>
</body>
</html>