<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment::head">


</head>
<body>
<header th:replace="fragments/fragment::nav">

</header>
<main>
    <section>
        <h3>Calculate window</h3>
        <form th:action="@{/offer/window/add}"
              th:method="POST"
              th:object="${windowOfferDto}" id="window-register" >
            <label>Height:</label><br>
            <input th:field="*{height}" th:errorclass="bg-danger"
                   name="height" type="text" class="input-field" placeholder="Height in centimeter">
            <small th:if="${#fields.hasErrors('height')}" th:errors="*{height}"
                   class="text-danger">Incorrect height!</small>
            <br>
            <label>Width:</label><br>
            <input th:field="*{width}" th:errorclass="bg-danger"
                   name="width" type="text" class="input-field" placeholder="Width in centimeter"><br>
            <small th:if="${#fields.hasErrors('width')}" th:errors="*{width}"
                   class="text-danger">Incorrect width!</small>
            <br>
            <label>Model:</label><br>
            <select th:errorclass="bg-danger"
                    name="model" class="selector">
                <option   value="">- Select chamber type -</option>
                <option th:each="m : ${T(com.example.demo.models.enums.ModelEnum).values()}"
                        th:value="${m}" th:text="${m}"
                        th:selected="${m} == *{model}">Chamber Type
                </option>

            </select><br>
            <label>Chamber:</label><br>
            <select th:errorclass="bg-danger"
                    name="chamber" class="selector">
                <option   value="">- Select chamber type -</option>
                <option th:each="ch : ${T(com.example.demo.models.enums.ChamberEnum).values()}"
                        th:value="${ch}" th:text="${ch}"
                        th:selected="${ch} == *{chamber}">Chamber Type
                </option>

            </select><br>
            <small th:if="${#fields.hasErrors('chamber')}" th:errors="*{chamber}"
                   class="text-danger">Incorrect chamber!</small>
            <br>
            <label>Color:</label><br>
            <select th:errorclass="bg-danger"
                    name="color" class="selector">
                <option
                        value="">- Select color type -</option>
                <option th:each="c : ${T(com.example.demo.models.enums.ColorsEnum).values()}"
                        th:value="${c}" th:text="${c}"
                        th:selected="${c} == *{color}">Color Type
                </option>
            </select><br>
            <small th:if="${#fields.hasErrors('color')}" th:errors="*{color}"
                   class="text-danger">Incorrect color!</small>
            <br>


            <button type="submit" class="submit-btn" value="Register">Add</button>
        </form>
    </section>
</main>
<footer th:replace="fragments/fragment::footer">

</footer>
</body>
</html>